<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>HWMS-Dashboard</title>
    <link rel="stylesheet" href="/css/root_var.css">
    <link rel="stylesheet" href="/css/dashboard.css" />
    <script src="/socket.io/socket.io.js"></script>
  </head>

  <body>
    <header>
      <div id="logo">HWMS</div>
      <div id="logout_btn" class="pointer">Logout</div> 
    </header>

    <div id="body-content">

      <div id="sidebar">
      
        <a class=" <%= (path === 'desk') || (path === null )  ? 'active' : '' %>  sidebar_itm" href="/dashboard?path=desk">
          Desk
        </a>
       
        <a class=" <%= path === 'chat' ? 'active' : '' %> sidebar_itm" href="/dashboard?path=chat">
          Chat
        </a>

        <% if (user.role == 'Admin') { %>

          <a class=" <%= path === 'addP' ? 'active' : '' %> sidebar_itm" href="/dashboard?path=addP">
            Add Procedure
          </a>

          <a class=" <%= path === 'addS' ? 'active' : '' %>  sidebar_itm" href="/dashboard?path=addS">
            Add Staff
          </a>
        <% } %>
      </div>

      <div id="main-content">

        <div id="dpt_div" data-dept=<%= user.role %>>
          <div class="dpt_details">
            <span class="dpt_name">
              <%= user.role %> Department
            </span> 
            (<%= user.lastname %> 
            <%= user.firstname %>)
          </div>

          <% if(!["FrontDesk", "Triage", "Physician"].includes(user.role)) {%>
            <div id="open-dept" class="pointer">
              <%= deptStatus ? "Open" : "Closed" %>
            </div>
          <% } %>
        </div>

        <% if (path === 'desk' || path === null) { %>

          <%- include('partials/desk') %>

        <% } else if (path == 'chat') { %>

          <%- include('partials/chat') %>

        <% } else if (path == 'addP' && user.role == 'Admin') { %>

          <%- include('partials/addProcedure') %>
        
        <% } else if (path == 'addS' && user.role == 'Admin') { %>

          <%- include('partials/addStaff') %>

        <% } else { %>
          <h1>Invalid / Protected Path </h1>
        <% } %>
        
      </div>
    </div>

    <script src="/js/dashboard.js"></script>
  </body>
</html>
